@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Quicksand:wght@300..700&family=Sacramento&display=swap');

:root{
    --cor-primaria: #FFB0B0;
    --cor-secundaria: #FE7171;
    --cor-terciaria: #335D2D;
    --cor-quartenaria: #7EA04D;

    --cor-base-primaria: #ffffff;
    --cor-base-secundaria: #000000;

    --fonte-primaria: "Quicksand", serif;
    --fonte_secundaria: "Sacramento", cursive;
    --fonte-tercearia: "Alex Brush", cursive;
}

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
  }


/*Header*/

header{
    display: flex;
    justify-content: center;
    padding: 0px 0px 5px 0px;
    
}

.cabecalho{
  display: flex;
  flex-direction: column;
  width: 80%;
}

.cabecalho__superior{
    display: flex;
    justify-content: space-between;
    padding: 5px 20px 5px 20px;
    align-items: center;
}

.cabecalho__superior__logo{
  width: 15%;
}


.nav__superior ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav__superior ul li {
  position: relative;
  margin-right: 20px;
}

.nav__superior ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.links__conta .dropmenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 10;
  padding: 10px 0;
}

.links__conta .dropmenu li a {
  color: #333;
  text-decoration: none;
  display: block;
}

.links__conta .dropmenu li:hover {
  background-color: #f0f0f0;
}

.links__conta:hover .dropmenu {
  display: block;
}


.cabecalho__pesquisar {
    width: 38%;
  }
  
.cabecalho__pesquisar__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.cabecalho__pesquisar__texto {
    flex: 1;
    font-size: 15px;
    border: 1.5px solid var(--cor-primaria);
    padding: 8px 5px 8px 5px;
    font-family: var(--fonte-primaria);
    font-weight:  500;
    border-radius: 20px 0px 0px 20px;
  }
    
.cabecalho__pesquisar__botao {
    font-size: 15px;
    padding: 8px 5px 8px 5px;
    font-family: var(--fonte-primaria);
    font-weight:  500;
    border-radius: 0px 20px 20px 0px;
    border: 1.5px solid var(--cor-primaria);
    background-color: var(--cor-primaria);
    color: var(--cor-base-primaria);
    transition: 0.5s;
}

.cabecalho__pesquisar__botao:hover {
  background-color: var(--cor-secundaria);
  transition: 0.5s;
}

  /*main*/

.parallax__apresentacao{
  border-radius: 0px 0px -20px -20px;
}

.parallax {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
  
.parallax__imagem {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
  
#imagem1 {
    background-image: url(../templates/parallax1.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax__imagem__texto{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: var(--cor-base-primaria);
  border: 2px solid var(--cor-base-primaria);
  border-radius: 20px;
  padding: 30px 20px;
  background-color: #ffffff36;
  box-shadow: 0 5px 15px #00000028;
  width: 50%;
  text-align: center;
}

.parallax__imagem__texto > p{
  font-family: var(--fonte-primaria);
  font-size: 20px;
  font-weight: 500;
}

.parallax__imagem__texto > h1{
  font-family: var(--fonte-tercearia);
  font-size: 90px;
}

.parallax__meio{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 35%, rgba(255,176,176,1) 100%);  color: #333;
  padding: 50px 20px;
}
  
#imagem2 {
    background-image: url(../templates/parallax2.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__principal {
  margin: 10px;
}


  /*Footer*/